{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Private Library</title>
        <link rel="stylesheet" href="{% static 'css/flex.css' %}"> 
    </head>

<body>
    <div class="page-header">
          <h1 id="top-h1"><a href="/">Personal Library</a></h1>
          {% if user.is_authenticated %}
           <a href="{% url 'book_edit' %}">New Book</a>
          {% endif %}
    </div>
    <br />

    <main class="container">
        <div class="row">
            <div class="col">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </main>
</body>